{
	"name": "{{.Name}}",
	"cells": [
		{{with .Files}}{{range $index, $el := .}}{{if $index}},{{end}}{
	        "x": {{$el.X}},
	        "y": {{$el.Y}},
	        "w": {{$el.Width}},
	        "h": {{$el.Height}},
	        "fileName": "{{$el.FileName}}",
	        "relativeFileName": "{{$el.FileNameRelative}}",
	        "fileNameOnly": "{{$el.FileNameOnly}}",
	        "name": "{{$el.Name}}",
	    }{{end}}{{end}}
    ]
}